/{
    input_device {
        compatible = "dirve,input_device";
        reg = <0x021B4000 16>;// 设备树里面指定 寄存器 基地址; 0x021B4000 是寄存器基地址，16是寄存器长度
        // 指定中断号  属于哪个gpio， 上升下降沿都会触发； 指定用哪个中断，并且指定中断触发 类型
		gpios = <&gpio 25  GPIO_ACTIVE_LOW｜GPIO_ACTIVE_HEIGH >;// 上升下降沿都会触发；
		interrupt-parent = <&gpio>;
		interrupts = <24 3>;
    }
} 